.MainGraphBarGraph{
    text-align: center;
}

    
    
.MainGraphBarGraphContent{
    width: 7rem;
    height: 1.5rem;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    font-size: 0.9rem;
    background-color: rgb(67,121,247);
    color: #ffff;
}

