.MainGraphLabel{
    text-align: center;
    margin-bottom: 10px;
}
.MainGraphLabelYear{
    color: rgb(179, 179, 179);
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}
.MainGraphLabelContent{
    font-size: 0.8rem;
    font-weight: bolder;
    margin: 0;
    letter-spacing: -0.1rem;
}