.MainGraphLineGraph{
    text-align: center;
}

    
    
.MainGraphLineGraphContent{
    width: 8rem;
    height: 2rem;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    font-size: 1rem;
    background-color: rgb(36, 159, 251);
    color: #ffff;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
}

.chart{
    height: 100%;
    width: 100%;
    text-align: center;
   
}
.topchartborder{
    width: 80%;
    display: inline-block;
    border-top: 3px solid rgb(232, 232, 232);
    margin-bottom: 1rem;

}
.linechart{
    width: 100%;
    height: 80%;
    display: inline-block;

    
    
}
