#login_btn{
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 550;
    display: inline-block;
    font-family: Pretendard Variable;
    border-radius: 10px;
    background-color: rgb(46,106,248);
    
    height: 60px;
}

#not_id{
    padding-left: 10px;
}

.auth_img{
    margin: 10px;
    width: 50px;
    height: 50px;
}

.rootContiner{
    position: relative;
    height: 100vh;
    width: 100%;
}


/* css 적용 */



.MainContent{
    position: absolute;
    left: 50%;
    top: 50%;
    
    width: 23rem;
    transform: translate(-50%,-60%)


}
.LoginState{
    display: flex;

}
.LoginStatefont{
    font-size: 13px;
    color: rgb(165, 165, 165);
    letter-spacing: -0.07rem;
}



.sign_in_font{
    height: 100%;
    font-weight:630;
    font-size: 3rem;
    font-family: Pretendard Variable;
    padding: none;
    margin: 40px;
    
    
}




.Content{
    text-align: center;
    
   
}

.Logindiv{
    text-align: center;
    margin-top: 40px;
    width: 100%;
}
.Button{
    
    width: 14rem;
    border: none;
}





@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");