#login_btn{
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    font-family: Pretendard Variable;
    border-radius: 10px;
    background-color: rgb(46,106,248);
    width: 14rem;
    border: none;
    height: 60px;
}

#not_id{
    padding-left: 10px;
}

.auth_img{
    margin: 10px;
    width: 50px;
    height: 50px;
}

.rootContiner{
    position: relative;
    height: 100vh;
    width: 100%;
}


/* css 적용 */



.MainContent{
    position: absolute;
    left: 50%;
    top: 50%;
    
    width: 23rem;
    transform: translate(-50%,-60%)


}
.LoginState{
    display: flex;

}
.LoginStatefont{
    font-size: 13px;
    color: rgb(165, 165, 165);
    letter-spacing: -0.07rem;
}



.sign_in_font{
    height: 100%;
    font-weight:630;
    font-size: 2.7rem;
    font-family: Pretendard Variable;
    padding: none;
    margin: 40px;
    
    
}


.Content{
    text-align: center;
}

.Logindiv{
    text-align: center;
    margin-top: 40px;
    width: 100%;
}





@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");


@media  screen and (max-width:512px) {
    .MainContent{
        
        width: 14rem;
        
    
    }

    
    .sign_in_font{
        font-size: 2.3rem;
        margin: 30px;
    }


    #login_btn{
        font-size: 1.1rem;
        font-weight: 500;
        width: 10rem;
        height: 40px;
    }

    
}